.item {

    height: 40px;

    border: 4px solid gray;
}

.item:last-of-type {
}

.users {

    width:400px;
    margin-top: 20px;
}

.buttonsContainer {
}

.container {
}

.thead {
    background-color: #cbcbca;
    height: 40px;
}

.nameCol {


}

.ageCol {

}